[Unit]
Description=PixelWeather Messaging Protocol Server
After=network.target
StartLimitBurst=5
StartLimitIntervalSec=10

[Service]
Type=simple
Restart=on-failure
RestartSec=5
User={user}
ExecStart={exec}
StandardOutput=append:/var/log/pwmp-server-stdout.log
StandardError=append:/var/logs/pwmp-server-stderr.log

[Install]
WantedBy=multi-user.target